/*@font-face {
  font-family: SupplyRegular;
  src: url(../fonts/Supply-Regular.otf);
}*/

@import url("https://fonts.googleapis.com/css?family=Lekton:400,700|Open+Sans:300,400,700|Roboto:100,300,400,700,900&display=swap");

// breakpoints
$breakpoint-tablet: 768px;

::selection {
	background: lightgrey;
}

* {
	margin: 0;
	padding: 0;
}
:root {
	/*:root is identical to <html>, except that its specificity is higher*/
	/*define unsiversal custom properties here*/
	--first-color: white;
	--second-color: lightgrey;
}
html {
	scroll-behavior: smooth;
	box-sizing: border-box;
	font-size: 18px;
	line-height: 30px;
}
*,
*:before,
*:after {
	box-sizing: inherit; /*this lets you use other box sizing methods downt he dom tree*/
}
body {
	font-family: "Lekton", sans-serif;
	font-weight: normal;
	position: relative;
	display: inline-block;
	width: 100%;
}

button,
.button {
	padding: 1rem;
	margin: 1rem;
	margin-top: 3rem;
	cursor: pointer;
	background-color: transparent;
	border: none;
	transition-duration: 0.5s;
	text-transform: uppercase;
	border: 3px solid white;
	color: white;
	font-family: "Lekton";
	letter-spacing: 3px;
	font-weight: bold;
	white-space: nowrap;
}

button:hover,
.button:hover {
	color: black;
	background-color: white;
	text-decoration: line-through;
}

h2 {
	font-family: "Roboto";
	margin-bottom: 1rem;
	letter-spacing: 5px;

	&:hover {
		text-decoration: line-through;
	}
}

p {
	margin-bottom: 1rem;
}

a:link,
a:visited,
a:active {
	color: black;
	font-weight: bold;
}

.header {
	position: fixed;
	height: 7rem;
	width: 100%;
	background-color: white;
	z-index: 2;
	transition-duration: 0.5s;
	border-bottom: 2px solid transparent;

	&--scrolled-down {
		border-bottom-color: black;
		height: 4rem;
	}

	&__logo {
		position: absolute;
		left: 1rem;
		top: 1rem;
		font-family: "Roboto";
		letter-spacing: 5px;
		font-weight: 900;
		text-transform: uppercase;
		font-size: 1.2em;
		text-decoration: line-through;
		padding: 1px;

		@media (min-width: $breakpoint-tablet) {
			left: 3rem;
			top: 60%;
			transform: translateY(-50%);
		}
	}

	&__menu {
		list-style: none;
		position: absolute;
		left: 1rem;
		top: 3rem;
		white-space: nowrap;

		@media (max-width: 380px) {
			// fixing it at least somewhat for smaller phones
			font-size: 4vw;
		}

		@media (min-width: $breakpoint-tablet) {
			left: auto;
			right: 3rem;
			top: 60%;
			transform: translateY(-50%);
		}

		li {
			display: inline-block;
			margin: 1rem;
			margin-right: 0;
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: 3px;
			font-size: 0.7em;
			cursor: pointer;

			&:not(:last-child) {
				border-right: 1px solid black;
				padding-right: 1rem;
			}

			&:hover {
				text-decoration: line-through;
			}
		}
	}
}

@media (max-width: $breakpoint-tablet) {
	.header--scrolled-down .header__menu {
		display: none;
	}
}

.hero {
	height: 100vh;
	width: 100%;
	position: relative;
	padding: 1rem;
	padding-top: 7rem;
	margin-bottom: 5rem;

	&__container {
		position: relative;
		background-color: transparent;
		width: 100%;
		height: 100%;
		//border: 5px solid white;
		overflow: hidden;

		&__bgimage {
			width: 100%;
			height: 100%;
			background-image: url("../images/hero.jpg");
			background-size: cover;
			filter: brightness(50%) grayscale(100%) blur(3px);
			background-attachment: fixed;
		}

		&__content {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			text-align: center;
			max-width: 100%;
			color: white;

			h1 {
				font-family: "Roboto";
				font-size: 2rem;
				font-weight: 100;
				line-height: normal;
				word-break: break-word;
				display: block;
				white-space: nowrap;

				@media (min-width: $breakpoint-tablet) {
					font-size: 4rem;
				}

				.hash-text {
					text-transform: capitalize;
				}

				.typewriter {
					font-weight: normal;
				}
			}
		}
	}
}

.info-container {
	display: grid;
	grid-template-rows: repeat(5, auto) 50px;
	grid-template-columns: 1fr;
	grid-template-areas:
		"about-me"
		"skills1"
		"skills2"
		"hire-me"
		"contact"
		"footer";
	grid-gap: 4rem 0.75rem;
	padding: 0 2rem;
	margin: 0 auto;
	max-width: 1000px;

	@media (min-width: $breakpoint-tablet) {
		grid-template-rows: repeat(4, auto) 50px;
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			"about-me about-me"
			"skills1 skills2"
			"hire-me hire-me"
			"contact contact"
			"footer footer";
		grid-gap: 10rem 0.75rem;
	}
}

.about-me {
	grid-area: about-me;
}

.hire-me {
	grid-area: hire-me;

	h2 {
		text-transform: uppercase;
		text-align: center;
	}
}

.skills1 {
	grid-area: skills1;
	text-align: center;

	@media (min-width: $breakpoint-tablet) {
		border-right: 2px solid black;
		text-align: left;
	}

	h2 {
		display: inline-block;
		position: relative;
		margin-bottom: 0;

		@media (min-width: $breakpoint-tablet) {
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

.skills2 {
	grid-area: skills2;

	ul {
		list-style: none;
		font-family: "Roboto";
		font-weight: 700;
		font-size: 2rem;
		text-align: center;
		@media (min-width: $breakpoint-tablet) {
			margin-left: 4rem;
			text-align: left;
		}
		li {
			padding: 1rem 0;
		}
	}
}

.skillbar {
	background-color: lightgreen;
	text-align: center;
	margin: 1rem;
}

.skillset:not(.opened) .sub-skill {
	display: none;
}

.contact {
	grid-area: contact;

	form {
		input,
		textarea {
			outline: none;
			border: none;
			border: 2px solid lightgrey;
			border-radius: 5px;
			transition-duration: 1s;
			padding: 1rem;
			margin: 1rem 0;
		}

		input:focus,
		textarea:focus {
			border-color: black;
		}

		input[type="text"],
		input[type="email"] {
			width: 100%;
			background: transparent;

			@media (min-width: $breakpoint-tablet) {
				width: 100%;
				display: inline-block;
			}
		}

		textarea {
			width: 100%;
			display: inline-block;
			min-height: 10rem;
		}

		input[type="submit"] {
			color: grey;
			&:hover {
				color: black;
				text-decoration: none;
			}
		}
	}
}

.footer {
	grid-area: footer;
	grid-template-row: 50px;
	&__right {
	}
}

/*scroll down class from https://codepen.io/tr13ze/pen/VjLLgJ*/
.scroll-down {
	opacity: 1;
	-webkit-transition: all 0.5s ease-in 3s;
	transition: all 0.5s ease-in 3s;
}
.scroll-down {
	position: absolute;
	bottom: 30px;
	left: 50%;
	margin-left: -16px;
	display: block;
	width: 32px;
	height: 32px;
	border: 2px solid transparent; /*change ring color here*/
	background-size: 14px auto;
	border-radius: 50%;
	z-index: 3;
	-webkit-animation: bounce 2s infinite 2s;
	animation: bounce 2s infinite 2s;
	-webkit-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
	transform: scale(1);
	cursor: pointer;
}
.scroll-down:before {
	position: absolute;
	top: calc(50% - 8px);
	left: calc(50% - 6px);
	transform: rotate(-45deg);
	display: block;
	width: 12px;
	height: 12px;
	content: "";
	border: 2px solid white; /*change arrow color here*/
	border-width: 0px 0 2px 2px;
}
@keyframes bounce {
	0%,
	100%,
	20%,
	50%,
	80% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-10px);
	}
	60% {
		transform: translateY(-5px);
	}
}
